* {
  font-family: "Montserrat", sans-serif;
  background-color: #eeeeee;
}

#intro {
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 50px;
}

.insideborder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para {
  font-weight: 300;
  margin-left: 10px;
}

h2 {
  font-size: medium;
  font-weight: 200;
}

/* Classes that you might find useful */
/* Note* These classes do not cover every possibloe case to build you flags, you will have to continue to add your own*/

.flag {
  height: 300px;
  width: 500px;
  border-style: solid;
  margin-bottom: 5rem;
}

.horiz {
  display: flex;
  flex-direction: row;
}

.twovert {
  height: 50%;
}

.superskinny {
  height: 11.14%;
}

.flex {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 10%;
  width: 33.3%;
  height: 33.3%;
}

.threevert {
  height: 33.3%;
}

.threehoriz {
  width: 33.3%;
}

.skinny {
  height: 17.5%;
}

.fat {
  height: 30%;
}

.circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  left: 85px;
  top: 50px;
}

/* Colors/ Feel free to add your own! */

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.lightblue {
  background-color: lightblue;
}

.purple {
  background-color: purple;
}

.white {
  background-color: #fff;
}

img {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-right: 64%;
  margin-top: 45%;
}

.top {
  position: relative;
  margin-top: 0px;
  height: 33.3%;
}

.bottom {
  margin-top: 20%;
  height: 33.3%;
}

.right {
  /* margin-left: 60%; */
  width: 33.3%;
}

.topr {
  margin: 0px, 0px, 33.3%, 76%;
}

.left {
  margin-left: 0px;
  width: 33.3%;
}

.midvert {
  margin-right: 50%;
}

.midhoriz {
  margin-top: 50%;
}

.relative {
  position: relative;
}

.short {
  height: 33.3%;
}