.nav {
    display: flex;
    justify-content: space-between;
    /* margin-left: 20%; */
    border-radius: 5%;
    background-color: rgb(226, 131, 43);
    top: 0;
    right: 0;
    z-index: 999;
    width: 40%;
    background-attachment: scroll;
    position: relative;
  }
  
  /* For the aesthetics */
  .nav-button {
    color: rgb(164, 175, 10);
    display: flex;
    padding: 10px;
  }

  div {
    display: flex;
  }

  .proj-col {
      background-color: rgb(166, 60, 175);
      border-radius: 15%;
      padding: 10px;
      display: flex;
    }

  .portfolio {
      display: flex;
      background-color: black;
      flex-direction: column;
      align-items: baseline;
      /* justify-content: space-around; */
      /* margin-right: 30%; */
  }

  /* .navbar {
      display: flex;
      background-color: beige;
      background-attachment: scroll;
  }  */

  .splash-page {
      background-color: rgb(10, 8, 153);
      display: flex;
      /* width: 60%; */
  }

  h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    size: 50%;
  }

  .black {
      color: black;
      background-color: black;
  }

  .headline {
      display: flex;
      bottom: 0;
      width: 70%;
      left: 0;
  }

  
  .logo {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 20px;
}